.bestselling-furniture{
    grid-column: 2 / 10;
    grid-row: 6 / 7;
}

.bestselling-furniture-header{
    font-size: 4.5rem;
    color: var(--color-5);
    text-align: center;
    margin: 3rem 0;
}

.bestselling-furniture-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 6.4rem;   
}

.bestselling-furniture-card{
    background-color: #efefef;
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.3);
}

.bestselling-furniture-img{
    width: 100%;
    object-fit: cover;
    border-radius: 0.3rem 0.3rem 0 0 ;
}

.bestselling-furniture-heading{
    background-color: #fffddd;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 2.4rem;
    color: var(--tertiary-color);
    padding: .5rem 0;
    border-radius: .2rem;
    transform: translateY(-50%);
}

.bestselling-furniture-paragraph{
    font-size: 1.9rem;
    color: #23487f;
    text-align: center;
    margin-bottom: 1.6rem;
}

.bestselling-furniture-btn{
    width: 100%;
    padding: 1.6rem 0;
    background-color: #12376e;
    color: #fff;
    border: none;
    border-radius: 0 0 0.3rem 0.3rem;
}

.bestselling-furniture-btn:hover{
    background-color: #23487f;
}
