.contact{
    grid-column: 1 / 11;
    grid-row: 8 / 9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    background-color: var(--primary-color);
    padding: 2rem 0;
    align-items: center;
}

.contact-heading{
    justify-self: end;
    font-size: 2rem;
    color: #fff;
}

.contact-form{
    display: flex;
}

.contact-form input{
    outline: none;
    padding: .4rem 1rem;
    border: .1rem solid #fff;
}

.contact-input{
    border-radius: 5rem 0 0 5rem;
    border-right: none;
}

.contact-btn{
    background-color: var(--secondary-color);
    color: white;
    border-radius: 0 5rem 5rem 0;
    border-left: none;
    transition: background-color .2s;
}

.contact-btn:hover{
    background-color: var(--primary-color);
}