#backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    z-index: 200;
}



.forms-wrapper{
    background-color: #eee;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 300;
    padding: 2rem;
    border: .1rem solid var(--secondary-color);
    border-radius: .3rem;
    animation: anim .5s;
}

@keyframes anim{
    0%{
        left: 30%;
    }
    25%{
        left: 70%;
    }
    50%{
        left: 40%;
    }
    75%{
        left: 60%;
    }
    100%{
        left: 50%;
    }
    

}
.show-btns-wrapper{
    display: flex;
    padding: 1rem;
}

.show-form-btn{
    flex: 0 1 50%;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    border: .1rem solid #eee;
    cursor: pointer;
}

.form-heading{
    font-size: 2rem;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 1rem 0 0 2rem;
}

.forms-wrapper form{
    width: 50rem;
    padding: 1rem;
}

.forms-wrapper form input:not(.form-btn){
    background-color: #fff;
    color: #777;
    padding: 1.3rem;
    margin: .3rem 0;
    border: .2rem solid #eee;
    outline: none;
}

.fullname-inputs-wrapper{
    display: flex;
}

.fullname-inputs-wrapper input{
    width: 50%;
}

.form-input{
    width: 100%;
}

.form-btn{
    width: 35%;
    background-color: #dd8800;
    color: white;
    letter-spacing: .3rem;
    padding: 1rem;
    border: none;
    margin-top: .5rem;
}

.x-btn{
    font-size: 2rem;
    color: var(--color-4);
    font-weight: bolder;
    position: absolute;
    bottom: 3.3rem;
    right: 3.3rem;
    cursor: pointer;
}

.show-signup-form{
    color: #888;
    background-color: var(--secondary-color);
}

.show-login-form{
    color: #888;
    background-color: var(--secondary-color);
}