@import url('https://fonts.googleapis.com/css?family=Alegreya');

:root{
  --primary-color: #12376e;
  --secondary-color: #34598f;
  --tertiary-color: #458a9f;

  --color-4: #00154c;
  --color-5: #23487f;
}

html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Alegreya', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  grid-template-rows: repeat(3, min-content) 70vh repeat(5, min-content);
  row-gap: 1.6rem;
  margin-top: 1.6rem;
}

@media screen and (max-width: 1000px){
  .container{
    grid-template-columns: minmax(4rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(4rem, 1fr);
  }
}

@media screen and (max-width: 800px){
  .container{
    grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(2rem, 1fr);
    grid-template-rows: repeat(3, min-content) 50vh repeat(5, min-content);
  }
}

@media screen and (max-width: 600px){
  .container{
    grid-template-columns: minmax(1rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(1rem, 1fr);
  }
}