.social-icons{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    align-items: center;
    /* background-color: red; */
}

.social-icon {
    font-size: 1.8rem;
    color: var(--primary-color);
    transition: all 200ms;
}

.social-icon:hover{
    color: var(--secondary-color);
    transform: rotate(360deg);
}

.first-nav{
    grid-column: 6 / 10;
    grid: 1 / 2;
}

.first-nav-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    align-items: center;
    justify-items: center;
}

.first-nav-link{
    font-size: 1.6rem;
    color: var(--primary-color);
    display: inline-block;
    width: 100%;
    text-align: center;
}

.first-nav-link::after{
    content: '';
    width: 0;
    height: .1rem;
    background-color: var(--primary-color);
    display: block;
    margin: auto;
    transition: width .2s cubic-bezier(.55, 0, .98, .54);
}

.first-nav-link:hover::after{
    width: 100%;
}

.first-nav-link span{
    font-size: 1.3rem;
    color: var(--secondary-color);
}

.first-nav-link svg{
    font-size: 1.3rem;
    margin-right: .3rem;
}

/* segunda fila" */
.search{
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}

.search-form{
    display: grid;
    grid-template-columns: repeat(10, 10%);
}

.search-input{
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    padding: .3rem .4rem;
    font-size: 1.3rem;
    border: none;
    border-bottom: .1rem solid var(--primary-color);
    outline: none; 
}

.search-btn{
    grid-column: 10 / -1;
    grid-row: 1 / 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


